.ff-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.ff-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  background-color: rgb(139, 36, 177, 0.9);
  border: 1px solid rgb(139, 36, 177);
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ff-button:hover {
  background-color: rgb(139, 36, 177, 0.6);
  transform: rotate(360deg);
}

.ff-inner-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.ff-form {
  max-width: 320px;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-weight: normal;
  line-height: 1.25;
  min-width: 360px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ff-text-opaque {
  opacity: 0.6;
}

.ff-form-header-wrapper {
  padding: 1.5rem;
  font-weight: normal;
  color: white;
  background-color: rgb(139, 36, 177, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ff-form-header {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
}

.ff-form-subheader {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
}

.ff-form-body-wrapper .ff-label {
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 1rem;
}

.ff-textarea {
  font-family: inherit;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: rgb(139, 36, 177, 0.05);
  outline: none;
  font-size: 1rem;
}

.ff-stars {
  display: flex;
  padding: 0 1.5rem;
}

.ff-star {
  margin-right: 0.5rem;
  border-radius: 50%;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.ff-star:hover {
  background: rgba(0, 0, 0, 0.25);
}

.ff-star.ff-selected {
  background-color: rgb(139, 36, 177, 0.9);
}

.ff-form-footer {
  text-align: center;
}

.ff-form-submit {
  background-color: rgb(139, 36, 177, 0.9);
  border: 1px solid rgb(139, 36, 177);
  color: white;
  padding: 1rem 5rem;
  border-radius: 3px;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.ff-alert {
  margin: 0;
  background-color: rgb(139, 36, 177, 0.05);
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
}

.ff-success-icon,
.ff-error-icon {
  display: inline-block;
  margin-right: 0.5rem;
  width: 2.5rem;
}

.ff-success-icon {
  fill: green;
}

.ff-error-icon {
  fill: rgb(163, 16, 16);
}
