.ff-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  background-color: rgb(139, 36, 177, 0.9);
  border: 1px solid rgb(139, 36, 177);
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ff-button:hover {
  background-color: rgb(139, 36, 177, 0.6);
  transform: rotate(360deg);
}

.ff-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.ff-inner-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.ff-form {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ff-form-header {
  margin: 0;
  margin-bottom: 1rem;
}

.ff-textarea {
  border: 1px solid #c8c8c8;
  width: calc(100% - 1rem);
  padding: 0.5rem;
}

.ff-stars {
  display: flex;
}

.ff-star {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}

.ff-star:hover {
}

.ff-star.ff-selected {
  background-color: green;
}
